<footer>
  copyright 2022. dusunax
</footer>
<script type="text/javascript">
  let itemArr = Array.from(document.getElementsByClassName("item_text"));
  itemArr.forEach((items) => {
    if (items !== itemArr[itemArr.length - 1]) {
      items.onclick = itemClick_lavel;
    };
  });
  function itemClick_lavel() {
    this.children[0].click();
  };
  function postDataSpan(className, currentData) {
    document.querySelector("." + className).innerHTML = currentData;
  };
</script>
</body>
</html>
