<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>투두리스트 EJS</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <header class="box header">
    <h1><%= listTitle %></h1>
    <h4 style="text-decoration: underline"><span class="localeDate"></span></h4>
  </header>
  <section class="box toDo">
    <div class="item">
      <input type="checkbox">
      <p><span class="isWeekend"></span>입니다.</p>
    </div>
    <div class="dateTest">
    </div>
    <ul>
      <% for(let i=0; i<listItems.length; i++){ %>
      <li class="item">
        <input type="checkbox">
        <p><%= listItems[i] %></p>
      </li>
      <% } %>
    </ul>
    <form class="item form_submit" action="/" method="post">
      <input type="text" name="newList" placeholder="새 할일을 입력하세요." autocomplete="off">
      <button class="btn_submit" type="submit" name="listName" value=<%= listName %>>
        +
      </button>
    </form>
  </section>
  <script type="text/javascript">
    let fooArr=Array.from(document.getElementsByClassName("item"));
    fooArr.forEach((fooo) => {
      if(fooo !== fooArr[fooArr.length-1]){
        fooo.onclick=itemClick_lavel;
      };
    });
    function itemClick_lavel() {
      this.children[0].click();
    };
    let td_data=setTodayData();
    function postDataSpan(className, currentData){
      document.querySelector("."+className).innerHTML=currentData;
    };
    function setTodayData(){
      let testDate = new Date();
      let options={
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      }
      let localeDate = testDate.toLocaleDateString('ko-KR', options);
      let tody = new Date();
      let currentDate = tody.getDate();
      let currentDay = tody.getDay();
      let isWeekend='평일';
      switch(currentDay){
        case 0:
          currentDay = "일";
          isWeekend = '주말';
          break;
        case 1:
          currentDay = "월";
          break;
        case 2:
          currentDay = "화";
          break;
        case 3:
          currentDay = "수";
          break;
        case 4:
          currentDay = "목";
          break;
        case 5:
          currentDay = "금";
          break;
        case 6:
          currentDay = "토";
          isWeekend = '주말';
          break;
        default:
          console.log('Error: current day is equal to : ' + currentDay);
      }
      postDataSpan("isWeekend", isWeekend);
      postDataSpan("localeDate", localeDate);
      return;
    }
  </script>
</body>
</html>
