<footer>
  copyright 2022. dusunax
</footer>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function(){
    let itemArr = Array.from(document.getElementsByClassName("item"));
    itemArr.forEach((items) => {
      if (items !== itemArr[itemArr.length - 1]) {
        // items.addEventListener("click", function(){
        //   itemClick_lavel();
        // })
        console.log(items);
        items.onclick = itemClick_lavel;
      };
    });
    function itemClick_lavel() {
      console.log(this);
      this.children[0].click();
    };
  })

  // function postDataSpan(className, currentData) {
  //   document.querySelector("." + className).innerHTML = currentData;
  // };
</script>
</body>
</html>
