<%- include('partials/header'); -%>

<h1>Compose</h1>
<form action="/" method="post">
  <div class="col-12" style='margin-bottom: 1em;'>
    <strong>제목</strong>
    <input class="form-control" type="text" name="newTitle" autocomplete="off" autofocus>
  </div>
  <div class="col-12" style='margin-bottom: 1em;'>
    <strong>내용</strong>
    <textarea class="form-control" name="newPost" rows="8" cols="80"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="page" value=<%= currentPage %>>글쓰기</button>
</form>
<p style="color: blue; font-size: 10px; margin-top: 10px; margin-left: 2px;"><%= userAlerts %></p>

<%- include('partials/footer'); -%>
